.card{
    height:auto;
    margin-top:2rem;
    width:500px;
    background-color:rgba(241,236,236,0.5)  !important;
    box-shadow:5px 10px #888888;
    border-radius:25px
}

input:focus{
    outline:0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}